extends layout

block content
  table.users
    thead
      tr
        th Name
        th Email
        th Active
        th Groups
        th &nbsp;
    tbody
      -for user in users
        tr
          td.string
            a(href="/users/#{user._id}")= user.name || "unknown"
          td.string
            a(href="mailto:#{user.email}")= user.email
          td.duration
            "#{user.startYear}&rarr;#{user.endYear}"
          td.string
            = user.groups
          td.actions
            a(href="/users/#{user._id}/delete") Remove
